* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Muli', sans-serif;
  color: rgb(90, 90, 95);
}

img {
  max-width: 100%;
  height: auto;g
}


/* Universal Styles & Typography */

h1, h2,
h3 {
  color: #6d7981;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
}

h2 span {
  color: #DC245E;
}

h3 {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  /*text-transform: uppercase;*/
}

h4 {
  margin: 0.5rem 0;
}

img+h2 {
  margin-top: 1rem;
}

h2+p {
  margin-top: 1rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height:1.3;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}


span.pink {
  color: #DC245E;
}

p a {
  color: #DC245E;
  text-decoration: none;
  border-bottom: 1px solid;
}

ul,
ol {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

li {
  padding-left: 1%;
}

blockquote {
  font-size: 1.5rem;
  color: rgb(120,120,125);
  margin-bottom: 1rem;
  margin-left: 1rem;
  /* border-left: 2px solid; */
  padding-left: 2rem;
  margin-right: 2rem;
}
blockquote p {
  font-size: 1.5rem;
  color: rgb(120,120,125);
}

/* Utility Classes */

.padded {
  padding: 5%;
}
.padded-1 {
  padding: 1rem;
}
.padded-2 {
  padding: 2rem;
}

.padded-horiz {
  padding: 0 2%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.tall {
  min-height: 80vh;
}

.dark {
  background-color: rgb(60, 60, 65);
}

.dark h2,
.dark h3,
.dark p,
.dark a {
  color: white;
}

.light {
  background-color: #fff4f6;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}


.featured {
  background-color: #ff6683;
  /* Previously #ff99ac */
  background-image: linear-gradient(135deg, #ff6683 0%, #dc245e 100%);
  padding: 64px 5%;
  margin: 1px 0;
}

.featured * {
  color: white;
}


/* Header & Nav */

header {
  padding: 0 5%;
  background-color: white;
}

header [class*=col-] {
  padding: 0;
}

header a {
  text-decoration: none;
  padding: 5px;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  color: #8998A2;
}

header nav a:hover,
footer a:hover {
  border-bottom: 2px solid #DC245E;
}

footer a {
  text-decoration: none;
}

.logo img {
  max-height: 100px;
}


/* Background images & Banners */

.bg-image,
.bg-banner {
    background-size: contain;
    background-position: center;
    min-height: 40vh;
    position: relative;
     /*background-color: #ffecec; */
    background-repeat: no-repeat;
}

.bg-treatments {
  background-size: contain;
  background-position: center;
  min-height: 60vh;
  position: relative;
  background-repeat: no-repeat;
  background-color: #fff;
}

.bg-banner {
  min-height: 60vh;
}

.bg-banner h2 {
  font-weight: 300;
  font-size: 2rem;
  text-transform: none;
  color: rgb(60, 60, 65);
}

.banner {
  padding: 64px 5%;
  margin: 1px 0;
}
.post .banner-image {
  background-size: cover;
  background-position: center;
  padding: 25% 5%;
  text-align:center;
  margin-bottom: 2rem;
}

.banner-image h1 {
  display: inline-block;
  background-color: #DC245E;
  padding: 0.5rem 2rem;
  color: white;
}

.post-image {
  background-size: cover;
  background-position: center;
  padding-bottom: 60%;
  margin-bottom: 1rem;
}

.sticky-pink {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(1, 1, 1, 0), #f1a5bd);
  padding: 15% 5% 5%;
  text-align: center;
}

.inline-price {
  display: inline;
}


/* Buttons */

.button {
  text-decoration: none;
  padding: 0.5rem 2rem;
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid white;
  margin-top: 1.5rem;
  transition: all 0.5s;
  font-weight: normal;
  font-size: 0.9rem;
}

.button.pink {
  border: 2px solid #DC245E;
  color: #fff;
  background: #DC245E;
}

.button:hover {
  /*color: #8998A2;*/
  /*border-color: #8998A2;*/
  color: #DC245E;
  border-color: #DC245E;
  background: #fff;
}

.button.white {
  border: 2px solid #DC245E;
  color: #DC245E;
  background: #fff;
}

.button.white:hover {
  /*color: #8998A2;*/
  /*border-color: #8998A2;*/
  color: #fff;
  border-color: #DC245E;
  background: #DC245E;
}


/* forms */

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  -webkit-appearance: none;
  border: none;
  font-size: 0.9rem;
}

input[type="submit"] {
  background-color: #DC245E;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}


/* services grid */

.services-grid .grid:nth-child(odd) {
  flex-direction: row-reverse;
}

.social-nav img {
  padding: 5px;
  max-width: 50px;
}

form input,
form textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid rgb(220, 220, 220);
}

textarea {
  min-height: 4rem;
}

form label {
  margin: 1rem 0 0;
  color: #DC245E;
  font-weight: bold;
  display: inline-block;
  /* This ads margin above each label. You need display inline block, because by default it's an inline element that won't accept vertical margin.*/
}


/* blog posts */
.post h1 {
  font-size: 2.7rem;
}

.post h2 {
  font-weight: normal;
  color: #DC245E;
  font-size: 1.7rem;
}

.post h3 {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: none;
}

.post img {
  margin: 1rem 0;
}


/* Media Queries */

.video-grid .cms-embed {
  width: 49%;
  margin: 0;
  display: inline-block;
  border: 10px solid white;
}

.video-grid iframe {
  height: 315px;
}

.bg-banner .text-slider {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(25%, -50%);
  width: 50%;
}

.banner-slider-wrapper .bg-banner {
  transform: translateX(8px);
}

.text-slider h2 {
  font-weight: 300;
  font-size: 3rem;
  text-transform: none;
  color: #fff;
}

.text-slider p {
  color: #fff;
  font-size: 18px;
}

.fixed-header {
  position: fixed;
  top: 0px;
  z-index: 123;
  width: 102%;
  -webkit-transition: all 500ms ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 500ms ease;
}

.headers {
  -webkit-transition: all 500ms ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 500ms ease;
  position: fixed;
  top: 0px;
  z-index: 123;
  width: 102%;
}

.banner-fixed {
  margin-top: 110px;
}

.nav-menu li.main-menu {
  display: inline-block;
}

.nav-menu li ul.sub-menu {
  padding: 0;
  list-style: none;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 5px;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  background: #fff;
  width: 250px;
}

.nav-menu li:hover ul.sub-menu {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav-menu li:hover ul.sub-menu a {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: none;
  transition: all 500ms ease;
}


/*==*/

.nav-menu li ul.sub-menu a {
  position: relative;
}

.nav-menu li ul.sub-menu a:before {
  content: '';
  display: block;
  position: absolute;
  width: 100;
  height: 2px;
  left: 2px;
  right: 2px;
  bottom: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu li ul.sub-menu li:hover a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-menu li:hover ul.sub-menu li:hover {
  background: #DC245E;
}

.nav-menu li:hover ul.sub-menu li:hover a {
  color: #fff;
}

.nav-menu li ul.sub-menu li {
  padding-bottom: 5px;
}

nav.navbar {
  display: none;
}

ul.mobile-menu {
  display: none;
  list-style: none;
}

header {
  transition: all 500ms ease;
  border-bottom: 0px;
}

header a {
  border-bottom: 2px solid #fff;
}

.fixed-header ul,
ol {
  margin-left: 1.5rem;
  margin-bottom: 0rem;
}

.fixed-header {
  transition: all 500ms ease;
}

.fixed-header .logo img {
  max-height: 60px;
  transition: all 500ms ease;
}

.logo img {
  transition: all 500ms ease;
}


/**/

section.after-header {
  margin-top: 110px;
}

.treatments-card .card {
  background: #fff;
  padding: 0;
  transition: all .3s ease-in-out;
}

.card-image {
  background-size: cover;
  background-position: center;
  padding-bottom:60%;
}

.treatments-card .card:hover {
  /*cursor: pointer;*/
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

.treatments-card .card .treatments-text {
  padding: 5%;
}
.full-height {
  display: flex;
  align-items: stretch;
}


/** --------  Magnific Lightbox Popup  -------- */

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}


/* ------------- Banners -------------------- */

.mobile-banner {
  display: none;
}

.bg-banner-home:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: contrast(.7) brightness(.7); */
  background-color: rgba(0, 0, 0, 0.5);
}

.awards img {
  width: auto;
  height: 400px;
  object-fit: cover;
}

@media(max-width:1024px) {
  .nav-menu li {
    padding-left: 0px;
  }
}

@media(max-width:991px) {
  header a {
    font-size: 12px;
  }
  .nav-menu li {
    padding-left: 0px;
  }
}

@media(max-width:767px) {
  .awards img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 30px;
  }
  section.after-header {
    margin-top: 79px;
  }
  .button.white {
    border: 2px solid #DC245E;
    color: #DC245E;
    background: #fff;
    border-radius: 1px;
    margin-bottom: 55px;
  }
  /*banner-slider-mobile*/
  .mobile-banner {
    display: block;
  }
  .dekstop-banner {
    display: none;
  }
  .mobile-banner .bg-banner {
    min-height: 40vh;
  }
  .mobile-banner .text-slider h2 {
    font-weight: 700;
    font-size: 2rem;
    text-transform: none;
    color: #8998A2;
  }
  .mobile-banner .mobile-text-slider {
    padding: 5%;
  }
  .mobile-banner .text-slider p {
    color: rgb(90, 90, 95);
    font-size: 18px;
  }
  /*end banner mobile*/
  .padded {
    padding: 5% 10%;
  }
  h3 {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
    /* text-transform: uppercase; */
  }
  .banner-fixed {
    margin-top: 79px;
  }
  .logo img {
    max-height: 65px;
  }
  .headers {
    -webkit-transition: all 500ms ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 500ms ease;
    position: fixed;
    top: 0px;
    z-index: 16000160112;
    width: 103%;
    padding: 0;
  }
  .nav-mobile .mobile-menu {
    margin-left: 0;
  }
  header nav {
    display: none;
  }
  nav.navbar {
    display: block;
  }
  .fixed-header .nav-mobile {
    background: #fff;
    width: 100%;
    position: absolute;
    left: 0;
  }
  .fixed-header a {
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 0px solid white;
    color: #8998A2;
  }
  .fixed-header {
    transition: all 500ms ease;
  }
  .fixed-header #nav-icon3 {
    width: 40px;
    height: 35px;
    position: absolute;
    margin: 16px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  .logo img {
    transition: all 500ms ease;
  }
  .fixed-header .logo img {
    max-height: 60px;
    transition: all 500ms ease;
  }
  #nav-icon3 {
    width: 41px;
    height: 50px;
    position: absolute;
    margin: 23px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    right: 20px;
  }
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 90%;
    background: #DC245E;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  /* Icon 3 */
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  #nav-icon3 span:nth-child(2),
  #nav-icon3 span:nth-child(3) {
    top: 14px;
  }
  #nav-icon3 span:nth-child(4) {
    top: 28px;
  }
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .fixed-header ul.mobile-menu {
    margin-left: 0;
    margin-bottom: 1rem;
  }
  .nav-mobile .mobile-sub-menu {
    background: #851c3d;
  }
  .nav-mobile .mobile-sub-menu li {
    border-top: 1px solid #fff;
    padding: 15px;
  }
  header a {
    border-bottom: 0px;
    color: #fff;
  }
  .fixed-header a {
    border-bottom: 0px;
    color: #fff;
  }
  .mobile-menu li.main-mobile-menu {
    padding: 15px 0;
    background: #DC245E;
    border-bottom: 1px solid #fff;
    text-align: center;
  }
  .mobile-sub-menu {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    margin: 0;
    transition: all 500ms ease;
    text-align: center;
    list-style: none;
    position: relative;
  }
  .main-mobile-menu.open .mobile-sub-menu {
    visibility: visible;
    opacity: 1;
    height: auto;
    margin: 0;
    position: relative;
    margin: 0;
    text-align: center;
    transition: all 500ms ease;
    top: 15px;
  }
  .nav-mobile ul .main-mobile-menu span:after {
    width: 0;
    height: 0;
    border: 0.313em solid transparent;
    border-bottom: none;
    border-top-color: #fff;
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: -0.313em;
    transform: rotate(270deg);
    transition: all 300ms ease;
  }
  .nav-mobile ul .main-mobile-menu.open span:after {
    transition: all 300ms ease;
    transform: rotate(360deg);
  }
  .bg-banner .text-slider {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(5%, -50%);
    width: 450px;
    padding-right: 70px;
  }

}

@media(max-width:676px) {
  header div,
  header nav.right {
    text-align: center;
  }
  form {
    margin: auto;
    max-width: 100%;
  }
  .video .cms-embed {
    width: 100%;
    border: 10px solid white;
  }
}
