---
layout: default
face-treatments:
  - title:
    title-highlighted: Thermolift
    subtitle: Treatment
    description_html: >-
      <p>Thermolift is known as the most effective nonsurgical method for face
      rejuvenation. It is focused radio frequency that heats on different skin
      levels and causes the collagen to build up. It can influence independently
      shallow dermis, deep dermis and SMAS.</p><p><strong>BENEFITS:
      </strong></p><ul><li>Face contouring</li><li>Collagen and elastene
      production</li><li>Skin tightening and toning</li><li>Reduces the
      appearance of fine lines and wrinkles</li></ul><p><strong>LONG-LASTING
      RESULTS </strong></p><ul><li>Clinically tested in extensive
      studies</li><li>Treatment time significantly reduced</li><li>Fast and easy
      to use, plug &amp; play technology</li><li>No disposables</li></ul>
    image_path: /images/placeholder-2.jpg
  - title: Muscle
    title-highlighted: Stimulation
    subtitle: Facial
    description_html: >-
      <p>Muscle stimulation is one of the most effective ways to rejuvenate the
      skin. It&rsquo;s a process of applying the pulsing nature of the currents
      to the facial muscles regeneration. The main effect is strengthened facial
      muscles, in a way, this procedure is a workout for the
      face.</p><p><strong>BENEFITS: </strong></p><ul><li>Corrects and lifts the
      face contour</li><li>Smoothes wrinkles</li><li>Tones &amp; re-contours
      face line</li><li>Reduces puffiness</li></ul><p><strong>LONG-LASTING
      RESULTS </strong></p><ul><li>Balances out the muscular
      system</li><li>Increases blood circulation</li><li>Removes muscle
      spasms</li></ul>
    image_path: /images/placeholder-2.jpg
  - title:
    title-highlighted: Microcurrents
    subtitle: Facial
    description_html: >-
      <p>Microcurrent facial is one of the newest innovations in anti-aging
      industry. It works the facial muscles and rebuilds collagen in dermis
      layer. By sending soft waves through the skin micro-current reaches and
      stimulates facial muscles.</p><p><strong>BENEFITS:
      </strong></p><ul><li>Improves facial and neck muscle tone</li><li>Lifts
      jaws and eyebrows</li><li>Reduces the appearance of fine lines and
      wrinkles</li><li>Reduces puffiness</li><li>Stimulates lymphatic
      drainage</li></ul><p><strong>CLINICALLY PROVEN RESULTS
      </strong></p><ul><li>85% of the surveyed noticed the improvements of
      facial contour</li><li>80% reported their skin felt smoother</li><li>77%
      mentioned their face looked more toned</li></ul>
    image_path: /images/placeholder-2.jpg
  - title: Radio
    title-highlighted: Frequency
    subtitle: Fine Line Smoother
    description_html: >-
      <p>Radio frequency is a revolutionary treatment that strengthens, tightens
      and lifts the skin. RF stimulates the skin&rsquo;s natural processes of
      collagen restoration resulting in smoother, tighter and younger looking
      skin. And the best thing is that the results are visible after the very
      first treatment. Radio frequency is quick, convenient and painless,
      immediately revealing its stunning effect.</p><p><strong>BENEFITS:
      </strong></p><ul><li>Lifted, firm and tightened skin</li><li>Produces
      collagen and elastin</li><li>Removes fine lines and
      wrinkles</li><li>Treats saggy skin &amp; acne
      scarring</li></ul><p><strong>LONG-LASTING RESULTS
      </strong></p><ul><li>More youthful appearance</li><li>Relaxing and
      painless experience</li><li>Firm plump and refreshed skin</li></ul>
    image_path: /images/placeholder-2.jpg
  - title: Detox
    title-highlighted: Facial
    subtitle: Comedo Extraction
    description_html: >-
      <p>Oxygeneo is 3-in-1 super facial which is provide you professional
      exfoliation,nurishment and oxygenation . Similar to microdermabrasion, the
      oxygeneo exfoliates the upper skin layer to remove dead cells, smooth and
      renew the skin, preparing it to receive active nutrients with our
      exclusive serum with fully nutrient-rich active ingredients.Oxygenation
      part is CO2 bubbles which gently burst on the skin surface creating a
      physiological response, sending oxygen-rich blood to the area, increasing
      capillary flow and skin metabolism. See younger looking skin after your
      first treatment. BENEFITS: - Renewed youthful glow - Increased collagen -
      Reduced hyper-pigmentation - Improved skin cell production - Reduce
      appearance of wrinkles</p>
    image_path: /images/placeholder-1.png
  - title: Ultrasound
    title-highlighted: Facial
    subtitle: Peel off dead skin
    description_html: >-
      <p>Ultrasound facial is a skin cleansing procedure that involves a special
      device creating ultrasonic waves and high-frequency vibrations. It removes
      dead skin cells and rejuvenates epidermis. Ultrasound facial is recognized
      by experts as one of the most gentle face cleansing treatments that can
      significantly reduces acne, cleans clogged pores, smoothes wrinkles
      without causing any harm. BENEFITS: -Pores contraction -Dead skin cells
      exfoliation -Skin texture and skin tone improvement -Effective deep pore
      cleansing without aggressive mechanical influence. LONG-LASTING RESULTS
      -Gentle exfoliation of dead skin cells -Tightened and toned skin -Reduces
      puffiness -Increased cell metabolism</p>
    image_path: /images/placeholder-2.jpg
  - title: Combination
    title-highlighted: Facial
    subtitle: Ultrasound + Detox
    description_html: >-
      <p>Combination facial is our signature facial combined of detox facial and
      ultrasound peel/microdermabrasion facial. It helps effectively remove dead
      skin cells and refine skin texture by revealing clearer, smoother skin.
      Combination facial includes few steps to cleanse your skin: deep facial
      cleaning, ultrasonic scrubber exfoliation or microdermabrasion tip, facial
      massage, blackheads extraction and pore cleansing, skin nourishment with
      calming alginate mask that also has anti-aging effect. BENEFITS: -Helps
      clear clogged pores, blackheads and pimples -Removes dead cells -Improves
      blood circulation and lymphatic drainage -Skin tone improvement
      LONG-LASTING RESULTS -Clean, toned and tightened skin -Diminished wrinkles
      and fine lines -Refreshing effect -Youthful appearance</p>
    image_path: /images/placeholder-2.jpg
  - title:
    title-highlighted: Microdermabration
    subtitle: Peel off Pigmentation
    description_html: >-
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat.</p>
    image_path: /images/placeholder-2.jpg
  - title: Fruit Acid
    title-highlighted: Peel
    subtitle: Shrink Pores & Fine Lines
    description_html: >-
      <p>Fruit acids are generally obtained by crop products like grapes,
      apples, lemons, oranges and sugar cane. Alpha Hydroxy Acid (AHA) facial
      peel can help you get a fresher, more luminous complexion.As old skin
      cells shed, new cells grow, and when the old cells do not slough off, your
      skin can look dull and lifeless. This is the perfect time to add an AHA
      peel to your weekly beauty routine. You will notice a difference in your
      skin texture immediately. The procedure is fast and convenient, taking
      only about fifteen minutes. And with virtually no recovery time, you can
      be back to your normal routine the same day. BENEFITS: -help refine skin
      texture, -smooth fine lines - reduce the appearance of acne scars and
      environmental damage, -reduce pigmentation .</p>
    image_path: /images/placeholder-2.jpg
  - title: Vacuum Lifting
    title-highlighted: Massage
    subtitle: Lymph drainage & lifting
    description_html: >-
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat.</p>
    image_path: /images/placeholder-2.jpg
body-treatments:
  - title: 3D Slimming
    title-highlighted: Skin
    subtitle: facial
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    image_path: /images/placeholder-2.jpg
  - title: Vacume Roller
    title-highlighted: Skin
    subtitle: facial
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    image_path: /images/placeholder-2.jpg
injectable-treatments:
  - title: Botox
    title-highlighted: Skin
    subtitle: facial
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    image_path: /images/placeholder-2.jpg
  - title: Dermal Fillers
    title-highlighted: Skin
    subtitle: facial
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    image_path: /images/placeholder-2.jpg
---

<section class="padded light editable">
  <h2> Body Lab Treatments </h2>
  <p> Body Lab is a medical spa located in the heart of Seminyak, Bali. We offer a variety of beauty and skincare treatments customised to your needs. Our highly trained therapists are providing the safest procedures and imlpementing the latest technologies in the beauty industry</p>
  <p> Scroll to ...
      <a href="#face"> Face Lifting Treatments </a> |
      <a href="#body"> Body Tightening Treatments </a> |
      <a href="#face"> Injectable Rejuvenation Treatments </a> |
  </p>
</section>

<section class="padded center featured" id="face">
  <h2> Face Lifting Treatments </h2>
  <p>Specialising in Anti-Aging, Body Lab understands that unique characteristics in each individuals complex aging symptoms require a personalized solution. Hence, Body Lab offers comprehensive anti-aging and skin tightening solutions by specialists with profound experience combined with the most advanced medical devices to provide the optimal results. </p>
</section>

<!-- Services grid section -->
<section class="services-grid">
  {% for item in page.face-treatments %}
  <div class="grid">
    <div class="bg-image col-6_sm-12" style="background-image: url({{item.image_path}});"></div>
    <div class="col-6_sm-12 padded">
      <h2> {{item.title}}<span> {{item.title-highlighted}} </span></h2>
      <h3> {{item.subtitle}}</h3>
      <p> {{item.description_html}}</p>
    </div>
  </div>
 {% endfor %}
</section>

<section class="padded center featured" id="face">
  <h2> Body Tightening Treatments </h2>
  <p>Body Lab is a medical spa located in the heart of Seminyak, Bali. We offer a variety of beauty and skincare treatments customised to your needs. Our highly trained therapists are providing the safest procedures and imlpementing the latest technologies in the beauty industry. </p>
</section>

<!-- Services grid section -->
<section class="services-grid">
  {% for item in page.body-treatments %}
  <div class="grid">
    <div class="bg-image col-6_sm-12" style="background-image: url({{item.image_path}});"></div>
    <div class="col-6_sm-12 padded">
      <h2> {{item.title}}<span> {{item.title-highlighted}} </span></h2>
      <h3> {{item.subtitle}}</h3>
      <p> {{item.description_html}}</p>
    </div>
  </div>
 {% endfor %}
</section>

<section class="padded center featured" id="face">
  <h2> Injectible Rejuvenation Treatments </h2>
  <p>Body Lab is a medical spa located in the heart of Seminyak, Bali. We offer a variety of beauty and skincare treatments customised to your needs. Our highly trained therapists are providing the safest procedures and imlpementing the latest technologies in the beauty industry. </p>
</section>

<!-- Services grid section -->
<section class="services-grid">
  {% for item in page.injectable-treatments %}
  <div class="grid">
    <div class="bg-image col-6_sm-12" style="background-image: url({{item.image_path}});"></div>
    <div class="col-6_sm-12 padded">
      <h2> {{item.title}}<span> {{item.title-highlighted}} </span></h2>
      <h3> {{item.subtitle}}</h3>
      {{item.description_html}}
    </div>
  </div>
 {% endfor %}
</section>

<!-- Call to action -->
<section class="padded center featured">
  <h2> Only the best </h2>
  <p> Body lab is Bali's only spa clinic to have medically certified practitioners, and uses only professionally recognised international cosmetic brands. </p>
  <a href="#" class="button">Book Now </a>
</section>
