---
layout: default
title: Body Lab Rejuvenation & Slimming Spa | Seminyak Bali
description: >-
  Body Lab is a medical spa located in the heart of Seminyak, Bali. We offer a
  variety of beauty and skincare treatments customised to your needs. Our highly
  trained therapists are providing the safest procedures and imlpementing the
  latest technologies in the beauty industry.
---

<section class="padded center featured editable after-header" id="injectable">
  <h2>Injectable Rejuvenation Treatments</h2>
  <p>&nbsp;</p>
  <p>Injectable treatments like botox and fillers are in high demand, but these are delicate procedures that should only be performed by experienced medical staff. Body Lab not only has some of the highest trained staff of any medical spa in Bali with years of experience but also uses only premium quality imported products for all of their injectable treatments.</p>
</section>

<!-- Services grid section -->
<section class="services-grid">
  {% for item in site.data.injectable-treatments %}
      {% include treatment-block.html %}
 {% endfor %}
</section>

<!-- Call to action -->
<section class="padded center featured">
  <h2> Only the best </h2>
  <p> Body lab is Bali's only spa clinic to have medically certified practitioners, and uses only professionally recognised international cosmetic brands. To make a reservation, message us on whatsapp. </p>
</section>
