
  <title> {{page.title}} </title>
  <meta name="description" content="{{page.description}}"/>
  <meta name="keywords" content="{{page.keywords}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- gridlex -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600&display=swap" rel="stylesheet">

  <link href="/assets/slick/slick.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">

  <link href="/style.css?{{site.time | date: '%s%N'}}" rel="stylesheet"/>

  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144466618-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-144466618-1');
    </script>
