
  <!-- HEADER SECTION -->
  <header class="grid-middle headers">
    <div class="col-4_sm-12">
    <div id="nav-icon3" class="nav-list-menu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

      <a class="logo" href="/index">
        <img src="/images/body-lab-logo.png" />
      </a>
      <div class="nav-mobile">
          <ul class="mobile-menu">
                <li class="main-mobile-menu"><a href="/index"> Home </a></li>
                <li class="main-mobile-menu"><a href="/about"> About </a></li>
                <li class="main-mobile-menu">
                    <a href="javascript:void(0)"> Treatments </a><span class="pic arrow-right" align="right"></span>
                    <ul class="mobile-sub-menu">
                        <li><a href="/treatments">Overview of All Treatments</a></li>
                        <li><a href="/treatments/face-treatments">All Face Treatments</a></li>
                        <li><a href="/treatments/body-treatments">All Body Treatments</a></li>
                        <li><a href="/treatments/injectable-rejuvenation">All Injectable Treatments</a></li>
    
                    </ul>
                </li>
                <li class="main-mobile-menu"><a href="/promo"> Promo </a></li>
                <li class="main-mobile-menu">
                    <a href="javascript:void(0)"> Videos </a><span class="pic arrow-right" align="right"></span>
                    <ul class="mobile-sub-menu">
                        <li><a href="/videos-body"> Body Treatments </a></li>
                        <li><a href="/videos-face">Face Treatments </a></li>
                        <li><a href="/videos-injectable">Injectable Treatments </a></li>
                    </ul>
                </li>
                <li class="main-mobile-menu"><a href="{{site.data.price-list.price-list_path}}" target="_blank"> Prices </a></li>
                <li class="main-mobile-menu"><a href="/blog"> Blog</a></li>
                <li class="main-mobile-menu"><a href="/contact"> Contact</a></li>
            </ul>
        </div>
    </div>

    <nav class="col-8_sm-12 right">
        <ul class="nav-menu">
            <li class="main-menu"><a href="/index"> Home </a></li>
            <li class="main-menu"><a href="/about"> About </a></li>
            <li class="main-menu">
                <a href="/treatments"> Treatments </a>
                <ul class="sub-menu sub-menu-desktop">
                    <li><a href="/treatments">Overview of All Treatments</a></li>
                    <li><a href="/treatments/face-treatments">Face Treatments</a></li>
                    <li><a href="/treatments/body-treatments">Body Treatments</a></li>
                    <li><a href="/treatments/injectable-rejuvenation">Injectable Treatments</a></li>
                    
                        <!--{% assign sorted-treatments = site.treatments | sort: 'order' %}-->
                        <!--{% for treatment in sorted-treatments %}-->
      
                        <!-- <li> <a href="{{treatment.url}}"> {{treatment.highlighted-title}} </a> </li>-->
 
                        <!-- {% endfor %}-->
                </ul>
            </li>
            <li class="main-menu"><a href="/promo"> Promo </a></li>
            <li class="main-menu">
                <a href="#"> Videos </a>
                <ul class="sub-menu sub-menu-desktop">
                    <li><a href="/videos-body"> Body Treatments </a></li>
                    <li><a href="/videos-face">Face Treatments </a></li>
                    <li><a href="/videos-injectable">Injectable Treatments </a></li>
                </ul>
            </li>
            <li class="main-menu"><a href="{{site.data.price-list.price-list_path}}" target="_blank"> Prices </a></li>
            <li class="main-menu"><a href="/blog"> Blog</a></li>
            <li class="main-menu"><a href="/contact"> Contact</a></li>
        </ul>
    </nav>



  </header>
