---
layout: default
treatments:
  - title: Oily
    title-highlighted: Skin
    subtitle: facial
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    image_path: /images/bodylab-9.jpeg-2.jpg
  - title: Dry
    title-highlighted: Skin
    subtitle: facial
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    image_path: /images/bodylab-9.jpeg-2.jpg
  - title: Combination
    title-highlighted: Skin
    subtitle: facial
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    image_path: /images/bodylab-9.jpeg-1.png
  - title: Aging
    title-highlighted: Skin
    subtitle: facial
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    image_path: /images/bodylab-9.jpeg-2.jpg
---

<section class="padded light editable">
  <h2> Services </h2>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>

<!-- Services grid section -->
<section class="services-grid">
  {% for item in page.treatments %}
  <div class="grid">
    <div class="bg-image col-6_sm-12" style="background-image: url({{item.image_path}});"></div>
    <div class="col-6_sm-12 padded">
      <h2> {{item.title}}<span> {{item.title-highlighted}} </span></h2>
      <h3> {{item.subtitle}}</h3>
      <p> {{item.description}}</p>
    </div>
  </div>
 {% endfor %}
</section>
