---
layout: default
---

<!-- banner -->
<section class="padded bg-banner after-header" style="background-image:url('/images/bodylab-10.jpeg');background-position: top;">
  <div class="sticky-pink">
      <h2> {{page.title}} </h2>
      <p> Demonstrations of treatments at Body Lab Seminyak</p>
  </div>
</section>
<section class="padded grid-center">
  <div class="col-12 post video-grid editable">
    <p>Explore some of our body treatments through our video library.</p>
    <style type="text/css">
      .responsive-video { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .responsive-video iframe, .responsive-video object, .responsive-video embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
    </style>
    <section class="grid">
      <div class="col-6_sm-12 padded-1">
        <h3>Fat Freezing/Cool Sculpting<span> non-surgical permanent fat removal </span></h3>
        <div class="light responsive-video"><iframe width="100%" height="315" src="https://www.youtube.com/embed/CAqV4K0SnOI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
      </div>
      <div class="col-6_sm-12 padded-1">
        <h3><span> Brazilian Butt </span></h3>
        <div class="light responsive-video"><iframe width="100%" height="315" src="https://www.youtube.com/embed/qY7St8z4hjw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
      </div>
      <div class="col-6_sm-12 padded-1">
        <h3><span> 3D Slimming </span></h3>
        <div class="light responsive-video"><iframe width="100%" height="315" src="https://www.youtube.com/embed/h6_R0jnADak" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
      </div>
      <div class="col-6_sm-12 padded-1">
        <h3><span> Vacuum Roller Massage </span></h3>
        <div class="light responsive-video"><iframe width="100%" height="315" src="https://www.youtube.com/embed/Cmag6myPNzs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
      </div>
      <div class="col-6_sm-12 padded-1">
        <h3><span> Express Super Slimming </span></h3>
        <div class="light responsive-video"><iframe width="100%" height="315" src="https://www.youtube.com/embed/LC_BRreBM64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
      </div>
      <div class="col-6_sm-12 padded-1">
        <h3><span> Lifted Arms </span></h3>
        <div class="light responsive-video"><iframe width="100%" height="315" src="https://www.youtube.com/embed/LC_BRreBM64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
      </div>
      <div class="col-6_sm-12 padded-1">
        <h3><span> Pressotherapy </span></h3>
        <div class="light responsive-video"><iframe width="100%" height="315" src="https://www.youtube.com/embed/zBolZguJ-fE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
      </div>
      <div class="col-6_sm-12 padded-1">
        <h3><span> Laser Hair Removal </span></h3>
        <div class="light responsive-video"><iframe width="100%" height="315" src="https://www.youtube.com/embed/vPeyMdVmLOM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
      </div>
      <div class="col-6_sm-12 padded-1">
        <h3><span> Velashape </span></h3>
        <div class="light responsive-video"><iframe width="100%" height="315" src="https://www.youtube.com/embed/mJJ63kfZP1g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
      </div>
      <div class="col-6_sm-12 padded-1">
        <h3><span> Isogei Lean Abs </span></h3>
        <div class="light responsive-video"><iframe width="100%" height="315" src="https://www.youtube.com/embed/SeUAsd1AiRA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
      </div>
      <div class="col-6_sm-12 padded-1">
        <h3><span> Isogey Brazilian Butt </span></h3>
        <div class="light responsive-video"><iframe width="100%" height="315" src="https://www.youtube.com/embed/NHVWB-Ow20" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
      </div>
      <div class="col-6_sm-12 padded-1">
        <h3><span> Isogei Lean Thighs </span></h3>
        <div class="light responsive-video"><iframe width="100%" height="315" src="https://www.youtube.com/embed/I2d-dRBnLRU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
      </div>
      <div class="col-6_sm-12 padded-1">
        <h3><span> Isogei Lean Arms </span></h3>
        <div class="light responsive-video"><iframe width="100%" height="315" src="https://www.youtube.com/embed/vnB7Val31Fs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
      </div>
      <div class="col-6_sm-12 padded-1">
        <h3><span> Transion Body Contouring </span></h3>
        <div class="light responsive-video"><iframe width="100%" height="315" src="https://www.youtube.com/embed/bAH12ohbc0U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
      </div>
    </section>
  </div>
</section>
