---
layout: default
title: Body Lab Rejuvenation & Slimming Spa | Seminyak Bali
description: >-
  Body Lab offers the highest quality face treatments in Bali. Our highly
  trained therapists are providing the safest procedures and imlpementing the
  latest technologies in the beauty industry.
featured_image: /images/bodylab-1.png
highlighted-title: All Face
sub-title: Treatments
order: 0
---

<section class="padded center featured editable after-header banner" id="face">
  <h2>Face Treatments</h2>
  <p>&nbsp;</p>
  <p>Specialising in Anti-aging, we understand that each of our patients require a personalized solution to address their specific skin concerns.</p>
  <p>Whether you're looking for a non-surgical face lift, fillers or Botox, Body Lab Bali offers a comprehensive range of advanced skin solutions administered by cosmetic specialists.</p>
</section>

<!-- Services grid section -->
<section class="services-grid">
  {% for item in site.data.face-treatments %}

    {% include treatment-block.html %}

 {% endfor %}
</section>

<!-- Call to action -->
<section class="padded center featured">
  <h2> Only the best </h2>
  <p> Body lab is Bali's only spa clinic to have medically certified practitioners, and uses only professionally recognised international cosmetic brands. To make a reservation, message us on whatsapp. </p>
</section>
