---
layout: default
title: Body Lab Rejuvenation & Slimming Spa | Seminyak Bali
description: >-
  Body Lab offers the highest quality face treatments in Bali. Our highly
  trained therapists are providing the safest procedures and implementing the
  latest technologies in the beauty industry.
featured_image: /uploads/shutterstock-221623813.jpg
highlighted-title: All Face
sub-title: Treatments
order: 2
---

<section class="padded center featured editable after-header banner" id="face">
    <h2>Face Treatments</h2>
    <p>&nbsp;</p>
    <p>Specialising in Anti-Ageing, we understand that client is unique and requires personalised attention to their individual skin care needs.</p>
    <p>&nbsp;At Body Lab Bali you will find a comprehensive range of solutions to give you that youthful glow, banish expression lines and wrinkles, contour your features and lift and tighten your skin.&nbsp;</p>
    <p>Body Lab Bali proudly offers the latest treatments available, always delivered by our friendly and highly trained cosmetic specialists.</p>
  </section>

<!-- Services grid section -->
<section class="services-grid">
  {% for item in site.data.face-treatments %}

    {% include treatment-block.html %}

 {% endfor %}
</section>

<!-- Call to action -->
<section class="padded center featured">
  <h2> Only the best </h2>
  <p> Body lab is Bali's only spa clinic to have medically certified practitioners, and uses only professionally recognised international cosmetic brands. To make a reservation, message us on whatsapp. </p>
</section>
