---
layout: default
title: Fillers in Seminyak Bali
description: >-
  Body Lab is a medical spa located in the heart of Seminyak, Bali. We offer a
  variety of beauty and skincare treatments customised to your needs. Our highly
  trained therapists are providing the safest procedures and imlpementing the
  latest technologies in the beauty industry.
keywords: 'Slimming Treatments, Weightloss Treatments, Bali Seminyak'
featured_image: /uploads/shutterstock-473324575-1.jpg
highlighted-title: Fillers
sub-title: Treatments
order: 1
---

<section class="after-header padded editable featured grid" id="body">
    <h2>Fillers Treatments in Bali</h2>
    <p>&nbsp;</p>
    <p>We use cutting-edge aesthetic machines to help you create the tight, toned body you've always dreamed of. Our experienced therapists can create a personalised treatment plan that will slim and sculpt your body with lasting results and minimal downtime.&nbsp;</p>
  </section>
<section class="padded grid light">
  <div class="col-4_sm-12 padded-2 editable">
    <h3>What are Facial Fillers?</h3>
    <p>Dermal fillers are gel-like substances that are injected beneath the skin to help diminish facial lines and restore volume and fullness in the face.</p>
    <p>At Body Lab Bali we use only the leading world brands of dermal fillers, including Juvederm Voluma, Juvederm Volift, Belotero Intense, Belotero Balance and many more!</p>
  </div>
  <div class="col-4_sm-12 padded-2 editable">
    <h3>Are the results permanent?</h3>
    <p>Depending on the type of filler, the effects can last anywhere from six months to two years.</p>
  </div>
  <div class="col-4_sm-12 padded-2 editable">
    <h3>Any precautions before the treatment?</h3>
    <p>&nbsp;-24hrs prior to your treatment: avoid alcoholic beverages</p>
    <p>-2 days prior to your treatment: Avoid waxing, bleaching, or hair removal cream and any topical Anti-Aging products such as Tretinoin (Retin-A), Retinol, Retinoids, Glycolic Acid, etc.</p>
    <p>-One week prior: avoid medication such as Aspirin, Ibuprofen, and Aleve as they&rsquo;re blood thinners, and ideally avoid supplements such as gingko biloba, St. John&rsquo;s Wort,, primrose oil, ginseng, garlic and Vitamin E</p>
  </div>
  <div class="col-4_sm-12 padded-2 editable">
    <h3>Any precautions after treatment?</h3>
    <p>We recommend to avoid alcohol, strenuous exercise, and intense heat (such as saunas, sunbathing, etc) in the treated area as it may result in additional bruising or swelling.</p>
    <p>To minimise bruising, you can apply Arnica or Bromelain creams and ice the treated area. (Eating fresh pineapple also helps!)</p>
    <p>To alleviate swelling, you can use any over the counter antihistamine for a few days.</p>
  </div>
    <div class="col-4_sm-12 padded-2 editable">
      <h3>Is your doctor qualified to inject Fillers?</h3>
      <p>Yes!, at Body Lab Bali all our treatments are delivered by highly experienced and fully certified professionals.</p>
      <p>Doctor Hesty Hutabarat is a dermatologist with 8+ years of experience in the injectable rejuvenation field, and the results from our clients speak by themselves.</p>
    </div>
  <div class="col-4_sm-12 padded-2 editable">
    <h3>The best treatment to reduce fat, cellulite and tighten skin at the same time</h3>
    <p>Express Super Slimming Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="col-12 padded-2 center editable">
    <h3>Need help choosing?</h3>
    <p>Our experienced staff can help you decide on the best treatments for you, just give us a call or book an appointment and we'll help you decide!</p>
  </div>
</section>

<!-- Services grid section -->
<section class="services-grid">
  {% for item in site.data.body-treatments %}
    {% if item.category contains 'Fillers' %}
    {% include treatment-block.html %}
    {% endif %}
 {% endfor %}
</section>

<!-- Call to action -->
<section class="padded center featured">
  <h2> Only the best </h2>
  <p> Body lab is Bali's only spa clinic to have medically certified practitioners, and uses only professionally recognised international cosmetic brands. To make a reservation, message us on whatsapp. </p>
</section>
